.pagination {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 100px;

  &Item {
    background: transparent;
    width: 65px;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #bdbdbd;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin-right: 20px;
    font-weight: 700;
    font-size: 18px;
    border-radius: 6px;
    color: #bdbdbd;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      transition: 0.2s;
      background-color: #185bc3;
      & span {
        color: #fff;
      }
    }
  }
}

.back {
  color: #000;
}
.forward {
  color: #000;
}
.focused {
  background-color: #185bc3;
  border: none;
  color: #fff;
}
@media screen and (max-width: 600px) {
  .pagination {
    padding-bottom: 50px;
    margin-top: 15px;
    &Item {
      width: 60px;
      padding: 15px 0px;
    }
  }
}
@media screen and (max-width: 550px) {
  .pagination {
    &Item {
      margin-right: 8px;
      width: 50px;
      padding: 12px 0px;
    }
  }
}
@media screen and (max-width: 420px) {
  .pagination {
    &Item {
      margin-right: 5px;
      width: 45px;
      padding: 10px 0px;
    }
  }
}
@media screen and (max-width: 365px) {
  .pagination {
    &Item {
      width: 40px;
      padding: 8px 0px;
    }
  }
}
