.setReview {
  background-color: #1b8dfb;
  width: 90%;
  border-radius: 5px;
  margin: 20px 0;
  padding: 30px;
  &Wrapper {
    &Top {
      display: flex;
      margin-bottom: 20px;
      align-items: center;
      gap: 30px;
      & span {
        font-size: 0.9vw;
        font-weight: 600;
        color: #fff;
      }
    }
    &Text {
      & input {
        padding: 80px 10px;
        width: 100%;
        border: none;
        border-radius: 3px;
        padding-top: 10px;
        &::placeholder {
          font-family: 'Montserrat', sans-serif;
        }
      }
    }
  }
  & button {
    border: none;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
  }
}
@media screen and (max-width: 2200px) {
  .setReviewWrapperTop {
    & span {
      font-size: 20px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .setReview {
    width: 100%;
  }
}
@media screen and (max-width: 340px) {
  .setReviewWrapperTop {
    display: block;
    & span {
      margin-right: 15px;
      margin-top: 3px;
    }
  }
}
