.body {
  background-color: #273d9d;
  height: 100vh;
  display: flex;
}
.leftContent {
  width: 60%;
}
.logoLogin {
  width: 590px;
}
.logo {
  padding: 2% 0 0 3%;
  position: relative;

  &Text {
    position: relative;
    &::before {
      content: '';
      background-image: url('../../../assets/img/TelegramReg.svg');
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      width: 8vw;
      height: 8vh;
      position: absolute;
      cursor: pointer;
      // left: 9.3vw;
      // top: -4vh;
      left: 220px;
      bottom: -30px;
    }
  }
}
.astronaut {
  width: 22vw;
  height: 49vh;
}
.mainInfo {
  &Text {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    & h2 {
      color: #fff;
      font-weight: 600;
      font-size: 1.4vw;
      margin-bottom: 5px;
    }
    & p {
      color: #fff;
      font-weight: 300;
      font-size: 0.8vw;
    }
  }
  &Icon {
    text-align: center;
  }
}

.rightContent {
  height: 100vh;
  width: 50%;

  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  text-align: center;
  &Wrapper {
    margin-top: 20vh;
  }
  &Top {
    & h3 {
      font-weight: 600;
      margin-bottom: 5vh;
      font-size: 1.2vw;
    }
  }
  & button {
    background: #3949ab;
    margin-top: 100px;
    width: 70%;
    margin-top: 5vh;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    height: 5vh;
    border-radius: 50px;
    display: block;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 5vh;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 50px;
      transition: all 1s ease;
    }
    &:hover {
      &:before {
        width: 100%;
      }
    }
    & span {
      color: #fff;
      font-family: 'Montserrat', sans-serif;
      font-size: 0.7vw;
    }

    &.registration {
      background: #fff;
      //   margin-top: 2vh;
      border: 1px solid #3949ab;
      & span {
        color: #3949ab;
      }
    }
  }
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  & span {
    color: #828282;
    font-size: 0.6vw;
  }
}

@media screen and (max-width: 2150px) {
  .mainInfo {
    & h2 {
      font-size: 30px;
    }
    & p {
      font-size: 18px;
    }
  }
  .rightContent {
    &Top {
      & h3 {
        font-size: 30px;
      }
    }
    & button {
      & span {
        font-size: 18px;
      }
    }
  }
  .buttons {
    & span {
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 1400px) {
  .logo {
    &Text {
      &::before {
        width: 65px;
        height: 65px;
        left: 165px;
      }
    }
  }
  .logoLogin {
    width: 450px;
  }
  .mainInfo {
    & h2 {
      font-size: 28px;
      margin-bottom: 20px;
    }
    & p {
      font-size: 20px;
    }
  }
  .rightContent {
    & button {
      & span {
        font-size: 15px;
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .logo {
    &Text {
      &::before {
        width: 60px;
        height: 60px;
        left: 145px;
      }
    }
  }
  .logoLogin {
    width: 400px;
  }
  .mainInfo {
    & h2 {
      font-size: 25px;
    }
    & p {
      font-size: 18px;
    }
  }
}
@media screen and (max-width: 900px) {
  .mainInfo {
    & h2 {
      font-size: 30px;
    }
    & p {
      font-size: 20px;
      padding-bottom: 40px;
    }
  }
  .body {
    display: block;
  }
  .leftContent {
    margin: 0 auto;
  }
  .logo {
    padding-top: 30px;
  }
  .logoLogin {
    width: 400px;
  }
  .astronaut {
    width: 40vw;
  }
  .rightContent {
    height: 45%;
    width: 100%;
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    text-align: center;
    &Wrapper {
      margin-top: 0;
    }
  }
}
@media screen and (max-width: 700px) {
  .astronaut {
    height: 35vh;
  }
  .logo {
    text-align: center;
    &Text {
      &::before {
        width: 45px;

        left: 110px;
        bottom: -35px;
      }
    }
  }
  .logoLogin {
    width: 300px;
  }
  .mainInfo {
    & h2 {
      font-size: 20px;
    }
    & p {
      font-size: 15px;
    }
  }
}
@media screen and (max-width: 500px) {
  .logo {
    transform: translateX(-20px);
  }
}
@media screen and (max-width: 450px) {
  .logo {
    transform: translateX(-30px);
  }
}
@media screen and (max-width: 410px) {
  .logo {
    transform: translateX(-40px);
  }
  .astronaut {
    height: 30vh;
  }
}
@media screen and (max-width: 370px) {
  .logo {
    transform: translateX(-50px);
  }
}
@media screen and (max-width: 360px) {
  .logoLogin {
    width: 250px;
    transform: translateX(15px);
  }
  .logo {
    &Text {
      &::before {
        width: 35px;
        left: 105px;
        bottom: -38px;
      }
    }
  }
}
