.modal {
  background: rgba(0, 0, 0, 0.507);
  height: 100vh;
  width: 100vw;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  & .block {
    display: block;
  }
  &-wrapper {
    cursor: pointer;
    background: #fff;
    width: 20vw;
    padding: 1%;
    height: 42vh;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    font-family: 'Montserrat', sans-serif;
    left: 50%;
    transform: translate(-50%, -50%);
    &__content {
      & h3 {
        color: #939394;
        text-align: center;
        margin-bottom: 1vh;
        font-size: 22px;
      }
      & p {
        text-align: center;
        font-size: 14px;
        margin-bottom: 1.5vh;
      }
      &-categories {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 2vh;
        & button {
          font-family: 'Montserrat', sans-serif;
          padding: 2% 10%;
          cursor: pointer;
          border-radius: 10px;
          background: #c4c4c4;
          color: #fff;
          font-size: 0.5vw;
          transition: 1s;
          &.active {
            background: #7d7d7d;
          }
          &:hover {
            background: #7d7d7d;
          }
        }
      }
    }
  }
}
.btn-chose {
  background: #fff;
  border: 1px solid #e1e1e3;
  width: 100%;
  padding: 3%;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7vw;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.7s;
  &:hover {
    background: #185bc3;
    color: #fff;
  }
}
@media screen and (max-width: 2000px) {
  .modal {
    &-wrapper {
      width: 500px;
      height: 330px;
      &__content {
        &-categories {
          & button {
            font-size: 13px;
          }
        }
      }
    }
  }
  .btn-chose {
    font-size: 15px;
  }
}
@media screen and (max-width: 1100px) {
  .modal {
    &-wrapper {
      width: 500px;
      height: 330px;
      padding-top: 20px;
      &__content {
        & p {
          font-size: 13px;
        }
      }
    }
  }
}
@media screen and (max-width: 570px) {
  .modal {
    &-wrapper {
      padding: 10px 20px;
      width: 400px;
      height: 370px;
      &__content {
        &-categories {
          & button {
            font-size: 11px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 470px) {
  .modal {
    &-wrapper {
      padding: 10px 20px;
      width: 340px;
      height: 420px;
      &__content {
        &-categories {
          & button {
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .modal {
    &-wrapper {
      width: 300px;

      &__content {
        &-categories {
          & button {
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .modal {
    &-wrapper {
      width: 270px;
      height: 390px;

      &__content {
        &-categories {
          & button {
            font-size: 12px;
          }
        }
      }
    }
  }
}
