.search {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  position: relative;
  & input {
    font-size: 20px;

    font-family: 'Montserrat', sans-serif;
  }
  & svg {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    cursor: pointer;
    opacity: 0.3;
    &:hover {
      opacity: 1;
    }
  }
  & img {
    position: absolute;
    z-index: 1;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
  }
  & input {
    border: none;
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    padding-left: 70px;
    height: 70px;
    &::placeholder {
      font-size: 17px;
      color: #8581a2;
      font-family: 'Montserrat', sans-serif;
    }
    &::value {
      color: #8581a2;
      font-family: 'Montserrat', sans-serif;
    }
    &:focus {
      border: 1px solid #9b9b9b;
    }
  }
}

@media screen and (max-width: 2000px) {
  .search {
    width: 95%;
  }
}
